<div class='container my-5'>
  <% if @end_user.is_deleted ==  false %>
    <div class='row'>
      <div class='col-sm-12 col-md-10 col-lg-6 px-sm-0 mx-auto text-center'>
        <%= image_tag @end_user.get_profile_image, size:'120x120' %>
        <table class='table table-sm my-4'>
          <tr>
            <td colspan='2'><%= @end_user.name %></td>
          </tr>
          <tr>
            <td colspan='2'><%= @end_user.introduction %></td>
          </tr>
          <tr>
            <td><%= t('.number_of_posts') %>：<%= @posts.count %></td>
            <td><%= t('.number_of_groups') %>：<%= @groups.count %></td>
          </tr>
        </table>
        <% if @end_user == current_end_user && @end_user.name != 'ゲストユーザー'%>
          <%= link_to t('.edit_end_user'), edit_end_user_path, class: 'btn btn-outline-dark' %>
          <%= link_to t('.favorited_posts'), favorites_end_user_path, class: 'btn btn-outline-dark' %>
        <% else %>
          <%= link_to t('.back_to_posts'), posts_path, class: 'btn btn-dark' %>
        <% end %>
      </div>
    </div>
    <div class='row card-wrapper mt-4'>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
    <div class='row'>
      <div class='mx-auto mt-4'>
        <div class='pagination'><%= paginate @posts %></div>
      </div>
    </div>
  <% else %>
    <div class='row'>
      <div class='mx-auto text-center'>
        <%= t('.unsubscribed_end_user') %>
        <%= link_to t('.back_to_posts'), posts_path, class: 'btn btn-dark btn-sm' %>
      </div>
    </div>
  <% end %>
</div>