<div class='container mt-5'>
  <div class='row'>
    <%= link_to "グループを作成する", new_group_path, class: 'btn btn-outline-success' %>
        <table class='table'>
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>行き先</th>
              <th>日付</th>
              <th>参加人数</th>
            </tr>
          </thead>
          <tbody>
          <% @groups.each do |f| %>
            <tr>
              <td><%= image_tag f.get_group_image, size:'80x80' %></td>
              <td><%= link_to f.name, group_path(f) %></td>
              <td><%= f.destination %></td>
              <td><%= f.date %></td>
              <td><%= f.end_users.count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>
