<table class='table text-left my-4'>
  <tr>
    <td><%= t('.view_image') %></td>
    <td><%= f.file_field :view_image, size: "200x200", accept:'image/*' %></td>
  </tr>
  <tr>
    <td><%= t('.title') %></td>
    <td><%= f.text_field :title, autofocus: true, size:30 %></td>
  </tr>
  <tr>
    <td><%= t('.body') %></td>
    <td><%= f.text_area :body, size:'30x5' %></td>
  </tr>
  <tr>
    <td><%= t('.nation') %></td>
    <td><%= f.text_field :nation, size:30 %></td>
  </tr>
  <tr>
    <td><%= t('.prefecture') %></td>
    <td><%= f.text_field :prefecture, size:30 %></td>
  </tr>
  <tr>
    <td><%= t('.place') %></td>
    <td><%= f.text_field :place, size:30 %></td>
  </tr>
  <tr>
    <td><%= t('.name') %></td>
    <td><%= f.text_field :name, placeholder: t('.multiple_tags'), size:30 %></td>
  </tr>
</table>