<div class='container mt-5'>
  <div class='row'>
    <div class='mx-auto mb-5'>
      <%= image_tag @post.get_view_image, size:'800x550' %>
    </div>
      <table class='table'>
        <tr>
          <th><%= @post.title %></th>
        </tr>
        <tr>
          <td><%= @post.body %></td>
        </tr>
      </table>
      <table class='table'>
        <tr>
          <th>国</th>
          <td><%= @post.nation %></td>
        </tr>
        <tr>
          <th>県・州</th>
          <td><%= @post.nation %></td>
        </tr>
        <tr>
          <th>スポット</th>
          <td><%= @post.nation %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td colspan='3'><%= link_to @post.end_user.name, end_user_path(@post.end_user_id) %></td>
        </tr>
        <tr>
          <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
          <td class='favorite-btn'>
            <%= render 'public/favorites/favorite-btn', post: @post %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @post.end_user == current_end_user %>
              <%= link_to "投稿編集", edit_post_path, class: 'btn btn-outline-warning' %>
              <%= link_to "投稿削除", post_path, method: :delete, class: 'btn btn-outline-danger'%>
            <% end %>
          </td>
        </tr>
      </table>
      <div>
        <p>コメント<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |comment| %>
        <table>
            <tr>
              <td rowspan='2'><%= image_tag comment.end_user.get_profile_image, size:'50x50' %></td>
              <td colspan='3'><%= comment.end_user.name %></td>
            </tr>
            <tr>
            <td><%= comment.body %></td>
            <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <% if comment.end_user == current_end_user %>
              <td><%= link_to "削除", post_post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-outline-danger btn-sm' %></td>
            <% end %>
            </tr>
        </table>
        <% end %>
        <div>
          <%= form_with model:[@post, @post_comment], url: post_post_comments_path(@post, @post_comment), method: :post do |f| %>
            <%= f.text_area :body, rows:'2', placeholder: "コメントする" %>
            <%= f.submit "送信する", class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
      </div>
  </div>
</div>