<div class='container mt-5'>
  <div class='row'>
    <div class='mx-auto mb-5'>
      <%= image_tag @post.get_view_image, size:'800x550' %>
    </div>
      <table class='table'>
        <tr>
          <th><%= @post.title %></th>
        </tr>
        <tr>
          <td><%= @post.body %></td>
        </tr>
      </table>
      <table class='table'>
        <tr>
          <th>国</th>
          <td><%= @post.nation %></td>
        </tr>
        <tr>
          <th>県・州</th>
          <td><%= @post.prefecture %></td>
        </tr>
        <tr>
          <th>スポット</th>
          <td><%= @post.place %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td colspan='3'><%= link_to @post.end_user.name, end_user_path(@post.end_user_id) %></td>
        </tr>
        <tr>
          <td><%= l @post.created_at, format: :short %></td>
          <td class='favorite-btn'>
            <%= render 'public/favorites/favorite-btn', post: @post %>
          </td>
        </tr>
        <tr>
          <td>
            <% @post_tags.each do |f| %>
              <%= link_to f.name, tag_path(f) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @post.end_user == current_end_user %>
              <%= link_to "投稿編集", edit_post_path, class: 'btn btn-outline-warning' %>
              <%= link_to "投稿削除", post_path, method: :delete, class: 'btn btn-outline-danger'%>
            <% end %>
          </td>
        </tr>
      </table>
      <div>
        <div class='comments-counter'>
          <%= render 'public/post_comments/counter', post: @post %>
        </div>
        <div class='comments-index'>
          <%= render 'public/post_comments/index', post: @post %>
        </div>
          <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
  </div>
</div>