<div class='container my-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-9 col-lg-4 px-5 px-sm-0 mx-auto text-center">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class='table-sm text-left my-5'>
        <tr>
          <td><%= f.label :"メールアドレス　　" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :"パスワード　　" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
       </table>

       <div class='col-6 mx-auto my-3'>
         <%= f.submit "ログイン", class: 'btn btn-dark btn-block' %>
       </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>