<div class='container my-5'>
  <h3><i class="fa-solid fa-magnifying-glass text-warning"></i>"<%= @word %>"<%= t('.result') %>：<%= @posts.count %><%= t('.post') %></h3>
  <div class='row'>
    <% if @posts.exists? %>
      <%= render 'public/posts/index', posts: @posts %>
    <% else %>
      <p><%= t('.no_post_try_again') %></p>
    <% end %>
  </div>
  <div class='row'>
    <div class='mx-auto mt-4'>
      <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
