<div class='container mt-5'>
  <h3><%= @range %> : "<%= @word %>"の検索結果 <%= @posts.count %>件</h3>
  <div class='row'>
    <% if @posts.exists? %>
      <% @posts.each do |f| %>
        <div class='mr-5'>
        <%= link_to image_tag(f.get_view_image, size:'300x200'), post_path(f.id) %><br>
        <%= f.title %>
        </div>
      <% end %>
    <% else %>
      <p>ヒットする投稿がありませんでした。他の単語で再検索してください。</p>
    <% end %>
  </div>
</div>
