<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-6'>
      <h2><%= @group.name %>メンバーへのメール</h2>
      <%= form_with model:@group, url: group_event_notices_path(@group), method: :post do |f| %>
      <table>
        <tr>
          <td><%= f.label :"タイトル" %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :"本文" %></td>
          <td><%= f.text_area :body %></td>
        </tr>
      </table>
      <%= f.submit "送信", class: 'btn btn-outline-success' %>
      <% end %>
    </div>
  </div>
</div>