<div class='container my-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <h2 class='mb-4'><%= @group.name %>　へメール作成</h2>
      <%= form_with model:@group, url: group_event_notices_path(@group), method: :post do |f| %>
        <div class='form-group'>
          <%= f.label:"タイトル" %>
          <%= f.text_field :title, class:'form-control'%>
        </div>
        <div class="form-group">
          <%=f.label:"本文（開催日時、集合場所、予算などの詳細）" %>
          <%= f.text_area :body,size: '50x5', class:'form-control' %>
        </div>

        <div class='row mt-4'>
          <div class='col-4 mx-auto'>
            <%= link_to "戻る", group_path(@group), class: 'btn btn-outline-dark btn-block' %>
          </div>
          <div class='col-4 mx-auto'>
            <%= f.submit "送信", class: 'btn btn-dark btn-block' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>