<div class='container my-5'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-6 px-sm-0 mx-auto text-center'>
      <h2><%= t('.sent_a_mail') %></h2>
      <p><%= t('.mail_detail') %><u>※ <%= t('.mail_to_group_owner') %></u></p>

      <div class='col-sm-10 col-md-9 col-lg-8 px-sm-0 mx-auto text-left my-4'>
      <h5>[<%= t('.title') %>]</h5>
      <p><%= @title %></p>

      <h5>[<%= t('.body') %>]</h5>
      <p><%= simple_format(@body) %></p>
      </div>
      <%= link_to t('.back_to_groups'), groups_path, class: 'btn btn-dark' %>
    </div>
  </div>
</div>