<div class='container'>
  <div class='row'>
    <div class='col-5 offset-1'>
      <h2 class='py-5'><%= t('.what_we_can_do') %></h2>
      <h5><%= t('.search') %></h5><br>
      <p><%= t('.keyword_or_tag') %><br>
      <%= t('.search_for_view') %></p><br>

      <h5><%= t('.post') %></h5><br>
      <p><%= t('.share') %><br>
      <%= t('.favorite_or_comment') %></p><br>

      <h5><%= t('.group') %></h5><br>
      <p><%= t('.look_for_member') %></p>

    </div>
    <div class='col-6 mt-3'>
      <div class='d-block mx-auto'>
      <%= image_tag 'image2.jpg', size: '400x600' %>
    </div>
  </div>
</div>
<div class='container' style='padding: 80px 0px;'>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3><%= t('.site_for_lovers') %><br>
      <%= t('.welcome') %><br>
      <%= t('.share_your_views') %></h3>
      <br>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-7'>
      <div class='d-block mx-auto'>
        <%= image_tag 'image3.jpg', size: '500x300' %>
      </div>
    </div>
    <div class='col-4'>
      <h2 class='pt-4 pb-5'><%= t('.feature') %></h2>
      <h5><%= t('.go_to_spot') %></h5><br>
      <p><%= t('.members_with') %></p>
      <p><%= t('.find_friends') %></p>
    </div>
    <div class='col-1'></div>
  </div>
</div>

<div class='container' style='padding: 80px 0px;'>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3><%= t('.policy') %></h3><br>
      <p><%= t('.positive_communication') %></p>
      <p><%= t('.purpose') %><br>
      <%= t('.no_problem') %></p>
      <p><%= t('.what_you_like') %></p>
      <p><%= t('.prohibition') %></p>
    </div>
  </div>
</div>

<div class='container my-5'>
  <div id='group-explanation' class='row'>
    <div class='col-8 mx-auto text-center'>
      <h3><%= t('.how_to_use_group') %></h3>
      <p>（※ <%= t('.need_sign_up') %>）</p><br>
    </div>
    <div class='col-8 mx-auto'>
      <h4>□<%= t('.create_group') %></h4>
      <p></p>
      <p>1. <%= t('.create_1') %></p>
      <p>2. <%= t('.create_2') %></p>
      <p>3. <%= t('.create_3') %></p>
      <p>4. <%= t('.create_4') %></p><br>

      <h4>□<%= t('.join_withdrawal') %></h4>
      <p></p>
      <p>1. <%= t('.join_1') %></p>
      <p>2. <%= t('.join_2') %></p>
      <p>3. <%= t('.join_3') %></p><br>

      <h4>□<%= t('.event_notice') %></h4>
      <p></p>
      <p> <%= t('.owner_sent_mail') %><br>
      （※ <%= t('.by_managed_address') %>）</p>
      <p>1. <%= t('.event_1') %></p>
      <p>2. <%= t('.event_2') %></p>
      <p>3. <%= t('.event_3') %></p>
      <p>4. <%= t('.event_4') %></p>
    </div>
  </div>
</div>
<span id='back' style='position: fixed; right: 40px; bottom: 140px;'>
  <a href=''>
    <i class="fa-solid fa-circle-up fa-3x text-dark"></i>
  </a>
</span>

<script>
$(function() {
  $('#back a').on('click',function(event){
    $('body, html').animate({
      scrollTop:0
    }, 800);
    event.preventDefault();
  });
});
</script>
