<div class='container mt-5'>
  <div class='row'>
    <div class='mx-auto mb-5'>
      <%= image_tag @post.get_view_image, size:'500x300' %>
    </div>
      <table class='table'>
        <tr>
          <th><%= @post.title %></th>
        </tr>
        <tr>
          <td><%= @post.body %></td>
        </tr>
      </table>
      <table class='table'>
        <tr>
          <th>国</th>
          <td><%= @post.nation %></td>
        </tr>
        <tr>
          <th>県・州</th>
          <td><%= @post.nation %></td>
        </tr>
        <tr>
          <th>スポット</th>
          <td><%= @post.nation %></td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td colspan='3'><%= link_to @post.end_user.name, admin_end_user_path(@post.end_user_id) %></td>
        </tr>
        <tr>
          <td><%= l @post.created_at, format: :short %></td>
        </tr>
        <tr>
          <td>
              <%= link_to "投稿削除", post_path, method: :delete, class: 'btn btn-outline-danger'%>
          </td>
        </tr>
      </table>
      <div>
        <div class='comments-counter'>
          <%= render 'public/post_comments/counter', post: @post %>
        </div>
        <div class='comments-index'>
          <% @post.post_comments.each do |comment| %>
            <table>
              <tr>
                <td rowspan='2'><%= image_tag comment.end_user.get_profile_image, size:'50x50' %></td>
                <td colspan='3'><%= link_to comment.end_user.name, admin_end_user_path(@post.end_user_id) %></td>
              </tr>
              <tr>
                <td><%= comment.body %></td>
                <td><%= l comment.created_at, format: :short %></td>
                <td>
                  <%= link_to "削除", post_post_comment_path(comment.post, comment), method: :delete, remote: true, class: 'btn btn-outline-danger btn-sm' %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
  </div>
</div>