<div class='container my-5'>
  <h3><i class="fa-solid fa-tags text-warning"></i>"<%= @tag.name %>"の検索結果：<%= @posts.count %>件
  <%= link_to "タグ検索に戻る", tags_path, class: 'btn btn-outline-dark' %></h3>
  <div class='row'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
  <div class='row'>
    <div class='mx-auto mt-4'>
      <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
