<div class='container my-5'>
  <h3><i class="fa-solid fa-tags text-warning"></i>"<%= @tag.name %>"<%= t('.result') %>：<%= @posts.count %><%= t('.post') %>
  <%= link_to t('.back_to_tags'), tags_path, class: 'btn btn-outline-dark' %></h3>
  <div class='row'>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
  <div class='row'>
    <div class='mx-auto mt-4'>
      <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
