<% post_comments.each do |comment| %>
          <table class='table table-sm text-left'>
            <colgroup>
              <col class="col-1">
              <col class="col-2">
              <col class="col-7">
              <col class="col-2">
            </colgroup>
            <tr>
              <td rowspan='2'><%= image_tag comment.end_user.get_profile_image, size:'50x50' %></td>
              <td rowspan='2'><u><%= link_to comment.end_user.name, admin_end_user_path(comment.end_user_id), class: 'text-dark' %></u></td>
              <td rowspan='2'><%= comment.body %></td>
              <td><%= l comment.created_at, format: :short %></td>
            </tr>
            <tr>
              <td>
                <%= link_to "削除", admin_post_post_comment_path(comment.post, comment), method: :delete, remote: true,
                data: {confirm: "本当に削除しますか？"}, class: 'btn btn-sm btn-outline-dark' %>
              </td>
            </tr>
          </table>
        <% end %>