<!DOCTYPE html>
<html>
  <head>
    <title>BREATHTAKING -絶景-</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5c69d7ea39.js" crossorigin="anonymous"></script>
  </head>

  <body class='d-flex flex-column'>
    <header style='border-bottom: 1px solid;'>
      <nav class='navbar navbar-light' style='display: flex;'>
        <div class='container'>
          <a class='navbar-brand' href='/' style='font-family: Gill Sans, sans-serif; font-size: 30px;'>BREATHTAKING -絶景-</a>
          <button class='navbar-toggler' style='margin-left: auto;' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'
                  aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
          </button>
          <span class='pl-2'>
            <% if params[:locale] == "en" || params[:locale].blank? %>
              <%= link_to "/ja/#{@path}", class: 'text-dark' do %>
              <!--@pathで/ja/を削除済みのURLを合体し、どのページからでも多言語対応が可能-->
                 日本語
              <% end %>
            <% else %>
              <%= link_to "/en/#{@path}", class: 'text-dark' do %>
                English
              <% end %>
            <% end %>
          </span>
          <div class='collapse navbar-collapse' id='navbarNavDropdown'>
            <ul class='navbar-nav ml-auto'>
              <% if admin_signed_in? %>
                <li><%= link_to '投稿', admin_posts_path %></li>
                <li><%= link_to 'ユーザー', admin_end_users_path %></li>
                <li><%= link_to 'グループ', admin_groups_path %></li>
                <li><%= link_to "タグ", admin_tags_path %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
              <% elsif end_user_signed_in? %>
                <li><%= link_to t('.about'), about_path %></li>
                <li><%= link_to t('.mypage'), end_user_path(current_end_user.id) %></li>
                <li><%= link_to t('.new_post'), new_post_path %></li>
                <li><%= link_to t('.posts'), posts_path %></li>
                <li><%= link_to t('.group'), groups_path %></li>
                <li><%= link_to t('.tags'), tags_path %></li>
                <li><%= link_to t('.log_out'), destroy_end_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to t('.about'), about_path %></li>
                <li><%= link_to t('.posts'), posts_path %></li>
                <li><%= link_to t('.group'), groups_path %></li>
                <li><%= link_to t('.tags'), tags_path %></li>
                <li><%= link_to t('.log_in'), new_end_user_session_path %></li>
              <% end %>
            </ul>
         </div>
        </div>
      </nav>
      <%= render 'public/searches/form' %>
    </header>
    <main>
      <p class='text-center'><%= notice %></p>
      <%= yield %>
    </main>
    <footer><p>BREATHTAKING-絶景-</p></footer>
  </body>
</html>
