<!DOCTYPE html>
<html>
  <head>
    <title>BREATHTAKING ~絶景~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #FFFFBB; height: 100px;">
      <div>
        <ul class='list-group'>
          <% if admin_signed_in? %>
            <li><%= link_to '投稿一覧', admin_posts_path %></li>
            <li><%= link_to 'ユーザー一覧', admin_end_users_path %></li>
            <li><%= link_to 'グループ一覧' %></li>
            <li><%= link_to 'タグ一覧' %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% elsif end_user_signed_in? %>
            <p>ようこそ、<%= current_end_user.name %>さん！</p>
            <li><%= link_to '新規投稿', new_post_path %></li>
            <li><%= link_to 'グループ作成', new_group_path %></li>
            <li><%= link_to 'マイページ', end_user_path(current_end_user.id) %></li>
            <li><%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'サイトについて', about_path %></li>
            <li><%= link_to 'ログイン', new_end_user_session_path %></li>
            <li><%= link_to '新規登録', new_end_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
